{% extends "base.html" %}

{% block content %}


<!-- form to add drink to bar cart -->
{% if auth %}

<h2>Add Drink to Your Bar Cart</h2>
<form action="" method="post" novalidate>
{{ addBarCart.hidden_tag() }}
<p>
    {{ addBarCart.drinkName.label }}<br />
    {{ addBarCart.drinkName(size=32) }}<br />
    {% for error in addBarCart.drinkName.errors %}<br />
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>
<p>
    {{ addBarCart.timesMade.label }}<br />
    {{ addBarCart.timesMade(size=32) }}<br />
    {% for error in addBarCart.timesMade.errors %}<br />
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
</p>
{{ addBarCart.submit3(class_="btn btn-black") }}

<h1>Your Drink History</h1>
{% if my_drinks %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Drink ID</th>
      <th scope="col">Times Made</th>
    </tr>
  </thead>
  <tbody>
    {% for drink in my_drinks %}
      <tr>
        <th scope="row">{{drink[0]}}</td>
        <td>{{drink[1]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h4> You have not rated any drinks </h4>

{% endif %}
{% else %}
<h1> You are not logged in! </h1>
<h3> Please <strong>Log In</strong> to view your drink history or <strong>Register</strong> to begin your Mini-Cocktail DB Adventure! </h3>
<a class="btn btn-secondary" href="{{ url_for('users.login') }}" role="button">Log in</a>
<a class="btn btn-secondary" href="{{ url_for('users.register') }}" role="button">Register</a>
{% endif %}

{% endblock %}
