<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini-CocktailDB</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
  <style>
    body {
        font-family: "Roboto", sans-serif;
    }

    .main-head {
        height: 150px;
        background: #FFF;
    }

   
    .main {
        padding: 10rem;
    }

    .login-main-text {
        margin-top: 20%;
        padding: 60px;
        color: #fff;
    }

    .login-main-text h2 {
        font-weight: 300;
    }

    .btn-black {
        background-color: #000 !important;
        color: #fff;
    }
    
  </style>
</head>

<body>

    <input type="checkbox" id="ham-menu">
    <label for="ham-menu">
      <div class="hide-des">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
    
    </label>
    <div class="full-page-menu"></div>
    <div class="ham-menu">
      <ul class="centre-text bold-text">
        <li><a class="sidenav-item" href="/"> Home </a></li>
        <li><a class="sidenav-item" href="/add"> Add Drinks </a></li>
        <li><a class="sidenav-item" href="/ratings"> Ratings </a></li>
        <li><a class="sidenav-item" href="/menus"> Menus </a></li>
        <li><a class="sidenav-item" href="/recommendations"> Recommendations </a></li>
        <li><a class="sidenav-item" href="/cart"> Ingredient Cart </a></li>
        <li><a class="sidenav-item" href="/barcart"> Bar Cart </a></li>
        <li><a class="sidenav-item" href="{{ url_for('index.profile') }}"> User Profile </a></li>
        <li><a class="sidenav-item" href="{{ url_for('users.login') }}"> Log In </a></li>
      </ul>
    </div>



  <!-- <div class="sidenav">
    {% block msg %}
      <h1 style="color:aliceblue">Welcome to CompSci 316 Mini-CocktailDB!</h1>
      <div style="color: aliceblue; text-align: right; margin-bottom: 25px; clear: both">
        <a href="/"> <button class="btn btn-primary btn-lg">Drinks</button> </a>
        <a href="/ratings"> <button class="btn btn-primary btn-lg">Ratings</button> </a>
        <a href="/menus"> <button class="btn btn-primary btn-lg">Menus</button> </a>
        <a href="/recommendations"> <button class="btn btn-primary btn-lg">Recommendations</button> </a>
        <a href="/cart"> <button class="btn btn-primary btn-lg">Ingredient Cart</button> </a>
        <a href="/barcart"> <button class="btn btn-primary btn-lg">Bar Cart</button> </a>
        {% if current_user.is_authenticated %}
          <h3 style="float:left">Hello {{current_user.firstname}}!</h3> 
          <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
        {% else %}
          <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">Log in</a>
        {% endif %}
      </div>
    {% endblock %}
  </div> -->
  <div class="main">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
