{% extends "base.html" %}

{% block content %}

  <!-- form to add drink to database -->

    <h2>Add Drink</h2>
    <form action="" method="post" novalidate>
      {{ addDrink.hidden_tag() }}
      <p>
        {{ addDrink.drinkName.label }}<br />
        {{ addDrink.drinkName(size=32) }}<br />
        {% for error in addDrink.drinkName.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ addDrink.drinkCategory.label }}<br />
        {{ addDrink.drinkCategory(size=32) }}<br />
        {% for error in addDrink.drinkCategory.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ addDrink.drinkInstructions.label }}<br />
        {{ addDrink.drinkInstructions(size=32) }}<br />
        {% for error in addDrink.drinkInstructions.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ addDrink.drinkImage.label }}<br />
        {{ addDrink.drinkImage(size=32) }}<br />
        {% for error in addDrink.drinkImage.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} 
      </p>
      {{ addDrink.submit1(class_="btn btn-black") }}

      {% if drink %}
      {% if auth %}
      <h3> Would you like to add your drink to an existing menu or new menu? </h3>
      <a class="btn btn-secondary" href="/menus" role="button">Menus</a>
      {% endif %}
      {% endif %}

  </div>

</div>

<!-- search by ingredients -->

{% block scripts %}
<script>
  var search_terms = ['apple', 'apple watch', 'apple macbook', 'apple macbook pro', 'iphone', 'iphone 12'];

  function autocompleteMatch(input) {
    if (input == '') {
      return [];
    }
    var reg = new RegExp(input)
    return search_terms.filter(function (term) {
      if (term.match(reg)) {
        return term;
      }
    });
  }

  function showResults(val) {
    res = document.getElementById("result");
    res.innerHTML = '';
    let list = '';
    let terms = autocompleteMatch(val);
    for (i = 0; i < terms.length; i++) {
      list += '<li>' + terms[i] + '</li>';
    }
    res.innerHTML = '<ul>' + list + '</ul>';
  }
</script>
{% endblock %}

{% endblock %}