{% extends "base.html" %}

{% block content %}

  <!-- form to add drink to database -->

    <h1>Add a Drink to the Growing Database</h1>

    <form action="" method="post" novalidate>
      {{ form2.hidden_tag() }}
      <p>
        <h2>Add Ingredients by searching</h2><br/>
        {{ form2.search(size=32) }}<br/>
        {% for error in form2.search.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      {{ form2.submit(class_="btn btn-black") }}
    
      <!-- list of ingredients returned from search -->
      {% if ingredients %}
      <div>
          {% for ingredient in ingredients %}
            <span class="b">
              <text class="text">{{ingredient.name}}</text>
            </span>
          {% endfor %}
      </div>
      {% endif %}
    


    <form action="" method="post" novalidate>
      {{ addDrink.hidden_tag() }}
      <p>
        {{ addDrink.drinkName.label }}<br />
        {{ addDrink.drinkName(size=32) }}<br />
        {% for error in addDrink.drinkName.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ addDrink.drinkCategory.label }}<br />
        {{ addDrink.drinkCategory(size=32) }}<br />
        {% for error in addDrink.drinkCategory.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ addDrink.drinkInstructions.label }}<br />
        {{ addDrink.drinkInstructions(size=32) }}<br />
        {% for error in addDrink.drinkInstructions.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      {{ addDrink.submit1(class_="btn btn-black") }}

  </div>

</div>

{% endblock %}