{% extends "base.html" %}
{% block content %}
    <h1>{{ drink.name }}</h1>
    {% if ratings %}
    <p>{{avg[0][0]}} &#9733</p>
    {% endif %}
    <p><b>Category: </b>{{ drink.category }}</p>

    <img class="drink-picture" src="{{ drink.picture }}" alt="{{ drink.name }}">
    
    <p><b>Ingredients:</b></p>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    <p><b>Instructions:</b></p>
    <p>{{ drink.instructions }}</p>

    {% if ratings %}
    <p><b>Recent Rating History:</b></p>
    <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
        <th scope="col">Score</th>
        <th scope="col">User ID</th>
        <th scope="col">Rating Date</th>
        <th scope="col">Review</th>
        <th scope="col">Likes</th>
        <th scope="col">Dislikes</th>
        </tr>
    </thead>
    <tbody>
        {% for rating in ratings %}
        <tr>
            <th scope="row">{{rating.score}}</td>
            <td><a href="{{ url_for('index.user_profile', uid = rating.uid) }}">{{rating.uid}}</a></td>
            <td>{{rating.time_rated}}</td>
            <td>{{rating.descript}}</td>
            <td>{{rating.likes}}</td>
            <td>{{rating.dislikes}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% endblock %}

