{% extends "base.html" %}
{% block content %}
    <h1>{{ menuName }} by <a href="{{ url_for('index.user_profile', uid = uid) }}">User #{{ uid }}</a></h1>
    <h2>Summary: {{ summary }}</h2>
    <h2>Date Made: {{ date }}</h2>
    <br>

    <p><b>Drinks:</b></p>
    <ul>
        {% for drink in drinks %}
            <p><a href="{{ url_for('index.drink', did = drink.did) }}">{{drink.name}}</a></p>
        {% endfor %}
    </ul>
    <br>
    <br>
    <br>
    {% if owned %}
    <h1>Add Drink to Menu</h1>
    <form action="" method="post" novalidate>
    {{ addDrink.hidden_tag() }}
    <p>
        {{ addDrink.drinkName.label }}<br />
        {{ addDrink.drinkName(size=32) }}<br />
        {% for error in addDrink.drinkName.errors %}<br />
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    {{ addDrink.submit(class_="btn btn-black") }}
    {% if not drinkadd %}
    <p>Invalid drink name</p>
    {% endif %}
    {% endif %}

{% endblock %}