{% extends "base.html" %}

{% block content %}

<!-- Current user's most recent ratings -->

<!-- HTML Page with search bar and search button -->
<h1>Search for User Ratings</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.search.label }}<br/>
    {{ form.search(size=32) }}<br/>
    {% for error in form.search.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  {{ form.submit(class_="btn btn-black") }}

<!-- list of ratings returned from search -->

{% if ratings %}
<h2>Ratings</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Drink ID</th>
      <th scope="col">Rating Date</th>
      <th scope="col">Score</th>
      <th scope="col">Review</th>
      <th scope="col">Likes</th>
      <th scope="col">Dislikes</th>
    </tr>
  </thead>
  <tbody>
    {% for rating in ratings %}
      <tr>
        <th scope="row">{{rating.did}}</td>
        <td>{{rating.date}}</td>
        <td>{{rating.score}}</td>
        <td>{{rating.description}}</td>
        <td>{{rating.likes}}</td>
        <td>{{rating.dislikes}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if auth %}
<h1>Your Recent Ratings</h1>
{% if my_ratings %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Drink ID</th>
      <th scope="col">Rating Date</th>
      <th scope="col">Score</th>
      <th scope="col">Review</th>
      <th scope="col">Likes</th>
      <th scope="col">Dislikes</th>
    </tr>
  </thead>
  <tbody>
    {% for my_rating in my_ratings %}
      <tr>
        <th scope="row">{{my_rating.did}}</td>
        <td>{{my_rating.date}}</td>
        <td>{{my_rating.score}}</td>
        <td>{{my_rating.description}}</td>
        <td>{{my_rating.likes}}</td>
        <td>{{my_rating.dislikes}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}

<h4> You have not rated any drinks </h4>

{% endif %}
{% endif %}


{% endblock %}